body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1a1a1a; 
            overflow: hidden;
        }

.box {
            width: 100px;
            height: 100px;
            border-radius: 12px; 
            animation: rotateAndColor 4s linear infinite;
            align-items: center;
        }


 @keyframes rotateAndColor {
            0% {
                transform: rotate(0deg);
                background-color: #ff3e3e; 
            }
            33% {
                background-color: #3eff8b; 
            }
            66% {
                background-color: #3e8bff;
            }
            100% {
                transform: rotate(360deg);
                background-color: #ff3e3e; 
            }
        }       