body{
    font-family: Arial;
    background-color: rgb(176, 207, 222);
}

p{
    color:gray;
}

.highlight{
    background-color: yellow;
}

.box{
    border: 2px solid rgb(83, 120, 142);
    padding: 10px;
    margin: 10px;
    background-color: white;
}

#box{
    
    background-color: white;
    font-style: italic;
}

#main-header{
    background-color:rgb(195, 207, 213);
    color: rgb(9, 9, 9);
    font-weight: bold;
}

.list-div li{
    color: rgb(152, 75, 164);
    font-weight: bold;
}

