*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* used to remove the padding and border from the total width and height of an element */

}

body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
}


p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

h1{
    color: darkblue;
    margin-bottom: 20px;
}


